wheatherreport/src/main/mule/WheatherProcessAPI.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="WheatherProcessAPIFlow" doc:id="bbaef27e-7563-4687-a09e-e5dededcdbfc" >
		<ee:transform doc:name="Transform Message" doc:id="4bc1a0fa-3eac-4fc2-a6f1-a2830174c2dd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	value:message.attributes.queryParams.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="578ede22-14a7-41ae-9383-0fed7bff6aa7" url="http://api.openweathermap.org/data/2.5/weather">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"appid" : "26ad00bbfb79784ca6ff23e84014399e",
	"q" : payload.value
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
